@import "@/styles/breakpoints";

.hero {
  background-color: var(--color-primary-800);
  color: var(--color-primary-200);
  position: relative;
  border-radius: 0;
  overflow: hidden;
  padding-top: 54px;

  @include small-screen {
    border-radius: 0 0 2rem 2rem;
    padding-top: 78px;
  }

  &-content {
    max-width: 77.375rem; //1206px
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;

    display: flex;
    flex-direction: column;

    &__text {
      max-width: 43.75rem; //700px
      padding: 1.5rem 0;

      @include small-screen {
        padding: 2.25rem 0;
      }
    }

    &__image {
      position: absolute;
      left: clamp(150px, 42%, calc(100% - 150px));
      bottom: 0;
      height: 100%;
      pointer-events: none;
      z-index: 10;

      @include small-screen {
        left: max(700px, 62%);
      }
    }

    &__detail {
      max-width: 50%;
      width: 100%;
      display: flex;
      justify-content: center;

      margin-bottom: 1.5rem;

      animation: strokeOffSet 2s linear alternate infinite;
      animation-delay: 2s;
      animation-iteration-count: 1;
      stroke-dasharray: 800;
      stroke-dashoffset: 300;

      @include small-screen {
        max-width: 43.75rem;
      }

      svg {
        height: 51px;
        width: 38px;

        @include small-screen {
          height: 100px;
          width: 72px;
        }
      }
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.25;
    max-width: max(15ch, 55%);

    @include small-screen {
      font-size: 3rem;
      max-width: 25ch;
    }
  }

  p {
    padding: 0.5rem 0 0;
    font-size: 1rem;
    letter-spacing: 0.04em;
    font-weight: 100;
    max-width: max(20ch, 55%);
    line-height: 1.25;

    @include small-screen {
      font-size: 1.5rem;
      max-width: 50ch;
    }
  }
}

@keyframes strokeOffSet {
  0% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
