.hero {
  background-color: var(--color-primary-800);
  color: var(--color-primary-200);
  position: relative;
  border-radius: 0;
  overflow: hidden;
  padding: 0 1rem;

  &-content {
    max-width: 75.375rem; //1206px
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    &__text {
      max-width: 43.75rem; //700px
      padding: 1.5rem 0;
    }

    &__image {
      position: absolute;
      left: clamp(150px, 42%, calc(100% - 150px));
      bottom: 0;
      height: 100%;
      pointer-events: none;
      z-index: 10;
    }

    &__detail {
      svg {
        height: 51px;
        width: 38px;
      }

      max-width: 50%;
      width: 100%;
      display: flex;
      justify-content: center;

      margin-bottom: 1.5rem;

      animation: strokeOffSet 2s linear alternate infinite;
      animation-iteration-count: 1;
      stroke-dasharray: 800;
      stroke-dashoffset: 500;
    }
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.25;
    max-width: max(15ch, 55%);
  }

  p {
    padding: 0.5rem 0 0;
    font-size: 1rem;
    letter-spacing: 0.04em;
    font-weight: 100;
    max-width: max(20ch, 55%);
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    border-radius: 0 0 2rem 2rem;

    &-content {
      &__text {
        padding: 2.25rem 0;
      }

      &__image {
        left: max(700px, 62%);
        height: 486px;
      }

      &__detail {
        svg {
          height: 100px;
          width: 72px;
        }

        max-width: 43.75rem;
      }
    }

    h1 {
      font-size: 3rem;
      max-width: 25ch;
    }

    p {
      font-size: 1.5rem;
      max-width: 50ch;
    }
  }
}

@keyframes strokeOffSet {
  0% {
    stroke-dashoffset: 2000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
