.tag-item {
  border: 1px solid var(--color-secondary-500);
  background-color: var(--color-primary-300);
  color: var(--color-secondary-500);

  font-family: var(--ff-inter);
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1.25rem;
  font-weight: 600;

  cursor: pointer;
  border-radius: 9999px;

  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: var(--color-secondary-500);
    color: var(--color-primary-200);
  }
}

@media screen and (min-width: 768px) {
  .tag-item {
    font-size: 1.25rem;
    padding: 0.5rem 2.5rem;
  }
}
