@import "@/styles/breakpoints";

.tags {
  padding: 2rem 0;
  max-width: 75.375rem; //1206px
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include small-screen {
    gap: 2.5rem;
  }

  &-title {
    letter-spacing: 0.04em;
    color: var(--color-primary-800);
    font-size: 1.5rem;

    @include small-screen {
      font-size: 2.5rem;
    }
  }

  &-content {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    @include small-screen {
      gap: 1.5rem;
    }
  }
}
