header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: var(--color-primary-800);

  display: flex;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;

  transition: top 0.3s ease-in-out;

  &.menu-open {
    z-index: 900;
  }
}

.header-wrapper {
  max-width: 75.375rem;
  width: 100%;
  padding: 1rem 1.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0 0 1rem 1rem;
  background-color: var(--color-primary-800);

  z-index: 0;

  &.menu-open {
    z-index: 900;
  }

  .header-logo {
    height: 1rem;
    cursor: pointer;
  }
}

.header-nav {
  display: none;

  &-list {
    display: flex;
    gap: 2rem;

    &-item {
      font-size: 1.125rem;
      cursor: pointer;

      &:hover {
        animation: slideY 400ms linear 100ms;
      }

      a {
        font-weight: 200;
        font-size: 1.25rem;
        color: var(--color-primary-200);
        text-decoration: none;
        letter-spacing: 0.01em;
        position: relative;
        line-height: 1.5;

        display: flex;
        align-items: center;
        padding: 0 5px;

        &::before {
          content: "•";
          position: absolute;
          left: -1.25rem;
          font-size: 1.25rem;
          opacity: 0;
          transform: translateY(-100%);

          transition: opacity var(--animation-timing),
            transform var(--animation-timing);
        }
      }

      &:hover a {
        font-weight: 500;
        padding: 0;

        &::before {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}

// hambuger menu
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--color-primary-200);
  border-radius: 999px;
  transform-origin: left center;

  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);

  width: max-content;
  padding: 0.25rem;

  input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;

    &:checked {
      opacity: 0;
      width: 0;
    }
  }

  &:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  &:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  background-color: var(--color-secondary-500);
  outline: 2px solid var(--color-primary-200);
}

:root {
  --bar-width: 20px;
  --bar-height: 2px;
  --hamburger-gap: 4px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --animation-timing: 200ms ease-in-out;
}
// menu mobile
.mobile-menu {
  position: absolute;
  top: 0;

  z-index: 1;
  height: 100vh;
  width: 100%;

  opacity: 0;
  transform: translateY(-100%);
  transition: opacity var(--animation-timing), transform var(--animation-timing);

  &.open {
    opacity: 1;
    transform: translateY(0px);
    z-index: 100;
  }

  &-wrapper {
    background-color: var(--color-secondary-300);
    width: 100%;

    height: fit-content;
    min-height: 494px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    padding: 3rem 0;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;

      font-weight: 600;
      font-size: 1.25rem;
      padding: 2rem;

      li {
        position: relative;
        padding-left: 1.5rem;
        cursor: pointer;
        line-height: 1.5;
        color: var(--color-primary-800);

        a {
          color: var(--color-primary-800);
          text-decoration: none;
        }

        &::before {
          content: "•";
          position: absolute;
          left: 0.25rem;
          font-size: 1.25rem;
        }
      }
    }

    .svg {
      align-self: center;
      cursor: pointer;
    }
  }
}

//768 default
@media screen and (min-width: 788px) {
  header {
    position: absolute;
  }

  .header-wrapper {
    gap: 3rem;
    padding: 1.5rem 0;
    margin: 0 1.5rem;

    .header-logo {
      height: 1.5rem;
    }
  }

  .header-nav {
    display: block;
  }

  .hamburger-menu,
  .mobile-menu {
    display: none;
  }
}

@keyframes slideY {
  0%,
  25% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  60% {
    transform: translateY(20%);
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  95% {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
}
