header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  max-width: 75.375rem;
  width: 100%;
  padding: 1.5rem 0;

  display: flex;
  align-items: center;
  gap: 3rem;

  .header-logo {
    height: 1.5rem;
    cursor: pointer;
  }
}

.header-nav {
  &-list {
    display: flex;
    gap: 3rem;

    &-item {
      font-size: 1.125rem;
      cursor: pointer;

      a {
        font-weight: 200;
        font-size: 1.25rem;
        color: var(--color-primary-200);
        text-decoration: none;
        letter-spacing: 0.02em;
      }
    }
  }
}
