@use "@/styles/breakpoints";

.footer {
  padding: 2.5rem 0;
  max-width: 75.375rem; //1206px
  width: 100%;
  margin: 0 auto;

  margin-top: 1.5rem;
  border-top: 1px solid var(--color-secondary-300);
  color: var(--color-primary-200);

  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    font-size: 1.25rem;
    letter-spacing: 0.02em;
    padding-bottom: 1rem;
  }
}

.footer-socials {
  display: flex;
  gap: 2.5rem;
  padding-bottom: 2.5rem;

  li:hover {
    img {
      filter: invert(23%) sepia(40%) saturate(626%) hue-rotate(209deg)
        brightness(102%) contrast(104%);
    }
  }

  li img {
    height: 32px;
    cursor: pointer;
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  @include breakpoints.small-screen {
    gap: 2.5rem;
  }

  a {
    font-weight: 200;
    letter-spacing: 0.03em;
    font-size: 1rem;
    text-decoration: none;
    color: var(--color-primary-200);

    @include breakpoints.small-screen {
      font-size: 1.25rem;
    }
  }
}
