.hero {
  background-color: var(--color-primary-800);
  color: var(--color-primary-200);
  position: relative;
  border-radius: 0 0 2rem 2rem;
  overflow: hidden;
  padding: 0 1rem;

  &-content {
    max-width: 75.375rem; //1206px
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    &__text {
      max-width: 43.75rem; //700px
      padding: 2.25rem 0;
    }

    &__image {
      position: absolute;
      left: max(700px, 62%);
      top: 0;
      height: 486px;
      pointer-events: none;
    }

    &__detail {
      max-width: 43.75rem;
      width: 100%;
      height: 6.25rem;
      display: flex;
      justify-content: center;

      margin-bottom: 1.5rem;
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.25;
  }

  p {
    padding: 0 0 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.04em;
    font-weight: 100;
    max-width: 50ch;
    line-height: 1.25;
  }
}

main {
  padding: 0 1rem;
}

.footer {
  padding: 0 1rem;
  background-color: var(--color-primary-800);
}
