@use "@/styles/breakpoints";

.application {
  padding: 2rem 0 4rem;
  max-width: 75.375rem; //1206px
  width: 100%;
  margin: 0 auto;
}

.application-wrapper {
  border-radius: 1.5rem;
  background-color: var(--color-secondary-700);
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  @include breakpoints.small-screen {
    flex-direction: row;
    padding: 2.5rem;
  }
}

.application-title {
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--color-primary-200);

  @include breakpoints.small-screen {
    gap: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;

    @include breakpoints.small-screen {
      font-size: 2.5rem;
    }
  }

  p {
    font-size: 1rem;
    font-weight: 200;

    @include breakpoints.small-screen {
      font-size: 1.5rem;
    }
  }
}

.application-images {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  cursor: pointer;

  img {
    width: 100%;

    @include breakpoints.small-screen {
      width: 216px;
    }
  }
}
