@use "@/styles/breakpoints";

.products {
  max-width: 75.375rem; //1206px
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;

  @include breakpoints.small-screen {
    padding: 4rem 0 2rem;
  }

  &-title {
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.5rem;

    @include breakpoints.small-screen {
      margin-bottom: 2.5rem;
    }

    h3 {
      font-size: 1.5rem;

      @include breakpoints.small-screen {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      font-weight: 200;

      @include breakpoints.small-screen {
        font-size: 1.5rem;
      }
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    gap: 1rem;

    @include breakpoints.small-screen {
      gap: 1.5rem;
    }
  }
}
