.products {
  max-width: 75.375rem; //1206px
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0 2rem;

  &-title {
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2.5rem;

    h3 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }

  &-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;

    &-item {
      background-color: var(--color-primary-100);
      border-radius: 0.5rem;
      padding: 0.375rem;
      box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      img {
        width: 100%;
        border-radius: 0.5rem;
      }

      &__text {
        padding: 0.5rem;
        color: var(--color-primary-900);

        h5 {
          font-size: 1.5rem;
          line-height: 1.25;
          padding-bottom: 0.5rem;
        }

        p {
          font-weight: 200;
          font-size: 1.25rem;
          line-height: 1.5;
          padding-bottom: 0.25rem;
        }
      }
    }
  }
}
