.gallery {
  padding: 2rem 0;
  max-width: 75.375rem; //1206px
  width: 100%;
  margin: 0 auto;

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(0, 14rem));
    gap: 1rem;

    .gallery-image {
      &:nth-child(2) {
        grid-area: 3 / 1 / 4 / 2;
      }

      &:nth-child(3) {
        grid-area: 4 / 1 / 5 / 2;
      }
    }
  }

  &-main {
    letter-spacing: 0.04em;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 2.5rem;

    grid-area: 1 / 1 / 3 / 2;

    overflow: hidden;
    height: 100%;
    border-radius: 0 0 1.5rem 1.5rem;

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
      font-weight: 200;
      padding-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    padding: 4rem 0;
  }
  .gallery-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(0, 21.5rem));
    gap: 1.5rem;

    .gallery-image {
      &:nth-child(2) {
        grid-area: 2 / 2 / 3 / 3;
      }

      &:nth-child(3) {
        grid-area: 1 / 2 / 2 / 3;
      }
    }
  }

  .gallery-main {
    h3 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
  }
}
